<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage|Geek Yacht</title>
    <link rel="stylesheet" href="../Static/CSS/firstPage.css">
</head>
<body>
    <div id="background"></div>
    <div id="mask">
        <h1>Geek Yacht</h1>
        <h2>BEST YACHT CLUB IN THE WOLRD</h2>
        <div class="entre"><a href="#">进入官网</a></div>
    </div>
    
</body>
</html>