<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN Yacht</title>
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <script src="/static/JS/adminYacht.js"></script>

</head>

<body>
    <div class="nav">
        <ul class="left">
            <li><a href=""><strong>ADMIN</strong></a></li>
            <li><a href="/admin/">管理用户</a></li>
            <li><a href="/adminYacht/">管理游艇</a></li>
        </ul>
        <ul class="right">
            <li id="login"><a href="#">登录</a></li>
            <li id="signup"><a href="#"></a></li>
        </ul>
    </div>
    <table>
        <thead>
            <tr>
                <th>游艇号</th>
                <th>游艇名</th>
                <th>删除</th>
                <th><a id="button" href="" onclick="addYacht()">添加</a></th>
            </tr>
        </thead>
        <tbody class="yachtinfo" id="yachtinfo">

        </tbody>
    </table>
</body>

</html>