<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin </title>
    <script src="/static/JS/adminlogin.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/login.css">
</head>

<body class="text-center">

<main class="form-signin">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please login</h1>
        <div class="form-floating">
            <label for="floatingInput">Adminname
                <input type="text" class="form-control" id="username" placeholder="username">
            </label>

        </div>

        <div class="form-floating">
            <label for="floatingPassword">Password
                <input type="password" class="form-control" id="password" placeholder="Password">
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="btn_login" type="submit">Login</button>
        <br>
    </form>
</main>
</body>
</html>
