<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage|Geek Yacht</title>
    <link rel="stylesheet" href="/static/CSS/firstPage.css">
</head>

<body>
    <div id="background">
        <video autoplay loop muted>
            <source src="/static/IMG/yt1s.com - Bilgin 263 Tatiana Teaser_1080p.mp4" type="video/mp4" />
        </video>
    </div>
    <div id="mask">
        <h1>LUXURY RE<span id="strong1=">DEFINED</span> AT SEA</h1>
        <h2>Passion leads to design, design leads to performance, performance leads to success!</h2>
        <div class="entre"><a href="/home/">进入官网</a></div>
    </div>

</body>

</html>