<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/static/CSS/home.css">

</head>

<body>
    <div class="nav">
        <ul class="left">
            <li><a href="#">主页</a></li>
            <li><a href="#">租赁游艇</a></li>
            <li><a href="#">我的记录</a></li>
        </ul>
        <ul class="right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
    </div>
    <h1 class="title">FLEET</h1>
    <div class="fleet">
        <div class="yacht">
            <a href="">
                <div class="ship">
{#                    <h1>TATIANA</h1>#}
                    <img src="/static/IMG/tatiana.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>SNOW 5</h1>#}
                    <img src="/static/IMG/snow.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>STARBURST III</h1>#}
                    <img src="/static/IMG/start.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>GIAOLA-LU</h1>#}
                    <img src="/static/IMG/gailao.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>TEE-DJE</h1>#}
                    <img src="/static/IMG/tee.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>OCEAN CLUB</h1>#}
                    <img src="/static/IMG/OceanClub.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>DESUR</h1>#}
                    <img src="/static/IMG/dusur.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>ELADE</h1>#}
                    <img src="/static/IMG/elade.jpeg" alt="">
                </div>
            </a>
            <a href="">
                <div class="ship">
{#                    <h1>RL NOLOR</h1>#}
                    <img src="/static/IMG/nolor.jpeg" alt="">
                </div>
            </a>
        </div>
    </div>

</body>

</html>