<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租赁游艇</title>
    <script src="/static/JS/lease.js"></script>
    <link rel="stylesheets" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <h1>租赁游艇</h1>
    <select class="form-select" name="" id="yacht" aria-label="Default select example">
        <option value="">---请选择---</option>
        <option value="tatiana">TATIANA</option>
        <option value="snow5">SNOW5</option>
        <option value="starburst">STARBURST</option>
    </select>
    <button type="submit" id="btn">提交</button>
</body>
</html>