<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租赁游艇</title>
</head>
<body>
    <h1>租赁游艇</h1>
    <select name="" id="">
        <option value="">---请选择---</option>
        <option value="tatiana">TATIANA</option>
        <option value="tatiana">SNOW5</option>
        <option value="tatiana">STARBURST</option>
    </select>
    <button>提交</button>
</body>
</html>