<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>租赁游艇</title>
    <script src="/static/JS/lease.js"></script>
    <link rel="stylesheet" href="/static/CSS/lease.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .box {
            width: 1000px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <ul class="left">
        <li><a href="">主页</a></li>
        <li><a href="/lease/">租赁游艇</a></li>
        <li><a href="/myrecords/">我的记录</a></li>
        <li><a href="/admin/">管理网站</a></li>
    </ul>
    <ul class="right" id="right">
        <button type="button" onclick="window.location.href='/login/'" class="btn btn-outline-light me-2">Login</button>
        <button type="button" onclick="window.location.href='/signup/'" class="btn btn-warning">Sign-up</button>
    </ul>
</nav>
<h1>租赁游艇</h1>
<div class="box">
    <select class="form-select" name="" id="yacht" aria-label="Default select example">
        <option value="">---请选择您的游艇---</option>
        <option value="tatiana">TATIANA</option>
        <option value="snow5">SNOW5</option>
        <option value="starburst">STARBURST</option>
    </select>
    <button type="button" id="btn" class="btn btn-dark">租赁</button>
</div>
</body>
</html>