* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
nav .left {
    float: left;
    /* display: inline-block; */
    text-decoration: none;
    color: #DDDDDD;
    margin-top: 4px;
    /* padding: 0 10px; */
}

nav .right {
    float: right;
    /* display: inline-block; */
    text-decoration: none;
    color: #DDDDDD;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 0;
}

nav .right {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 20px;
    font-size: 18px;
}
nav .right li {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 20px;
    font-size: 20px;
}

nav .left a {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 50px;
    font-size: 18px;
}



.title {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fleet {
    margin-top: 20px;
}

.yacht {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fleet div {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*margin-bottom: 20px;*/
}

.fleet div img {
    width: 442px;
    height: 283px;
}

.ship {
    width: 442px;
    height: 320px;
}

.ship h1 {
    color: whitesmoke;
}