* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
nav .left {
    float: left;
    text-decoration: none;
    color: #DDDDDD;
    margin-top: 4px;
}

nav .right {
    float: right;
    text-decoration: none;
    color: #DDDDDD;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 0;
}

nav .right a {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 20px;
    font-size: 18px;
}

nav .left a {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 50px;
    font-size: 18px;
}

nav .right li {
    display: inline-block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 0 20px;
    font-size: 20px;
}